@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:wght@200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: #021A84;
    --light-gray: var(--light-invert-color-subtitle, #999);
}

html, body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    background: var(--light-invert-color-background, #F2F2F2);
}

.wrapper {
    max-width: 1160px;
    height: 80px;
    margin: auto;
}
.btn {
    min-width: 150px;
    height: 45px;
    padding: 8px 16px;
    cursor: pointer;
    text-align: center;
}

.btn-border {
    border: 1px solid var(--primary);
    color: var(--primary);
    border-radius: 8px;
}

.btn-solid {
    background-color: var(--primary);
    color: #FFF;
    border-radius: 8px;
}

.container-title {
    margin-top: 80px;
}

.container-body {
    margin-top: 40px;
}